<div class="edit-tools">
  <input class="title" type="text" placeholder="Board Title"></input>
  <input class="city" type="text" placeholder="City"></input>
  <a class="btn blue point">New Point</a>
  <a class="btn blue line">New Line</a>
  <a class="btn done red">Done Editing</a>
</div>
