// UI Colors
$white:          #ffffff !default;
$off-white:      #fefefe !default;
$cream:          #FFFBF2 !default;

$blue:           #5498E8 !default;
$red:            #F54130 !default;

$dark-gray:      #30302F !default;
$darker-gray:    #242323 !default;

// Font Families
$body-font:      "Open Sans", Arial, Helvetica, sans !default;
$header-font:    "Open Sans", Arial, Helvetica, sans !default;
$button-font:    "Open Sans", Arial, Helvetica, sans !default;

// Font Weights
$body-weight:    400 !default;
$header-weight:  600 !default;

// Font Colors
$body-color:     $gray;
$header-color:   $dark-gray;

// Font Sizes
$body-size:      14px;
$header-size:    36px;
