.wrapper {
  position: relative;
  padding: 1em 0;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.edit-tools {
  @include box-sizing(border-box);
  width: 300px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  margin: 2em;
  background-color: $cream;
  // border: 2px solid $light-gray;

  input[type='text']{
    width: 100%;
    font-size: 1.25em;
    color: $blue;
    background-color: $cream;
    border: 2px solid $blue;
    &:first-child{
      border-bottom: none;
    }
    &:hover {
      background-color: rgba($blue, 0.1);
    }
    &:focus {
      background-color: $blue;
      color: $white;
    }
  }
  .city {
    margin-bottom:1em;
  }
  .btn {
    @include box-sizing(border-box);
    @include border-radius(0px);
    width: 100%;
    // text-align:center;
    display: block;
    border: 2px solid $blue;
    background-color: $cream;
    color: $blue;
    padding: 0.5em;
    font-size: 1.25em;
    line-height: 1.25em;
    font-family: $body-font;
    &:hover {
      color: $white;
      background-color: $blue;
    }
  }
  .point {
    border-bottom: none;
  }
  .point:before {
    content: "";
    display: inline-block;
    width:  32px;
    height: 32px;
    background: url('../img/point2.png') left center no-repeat transparent;
    background-size: 28px;
    vertical-align: -12px;
    // margin-left: -16px;
  }
  .line:before {
    content: "";
    display: inline-block;
    width:  32px;
    height: 32px;
    background: url('../img/line2.png') left center no-repeat transparent;
    background-size: 28px;
    vertical-align: -12px;
    // margin-left: -16px;
  }
  .done {
    margin-top: 1.5em;
    text-align: center;
    border: 2px solid $red;
    color: $red;
    &:hover {
      background-color: $red;
    }

  }
}
