#viewer {
  @extend #editor;
  top: 0;
}

.scoreboard {
  width: 300px;
  z-index: 9999;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 24px;
  .title {
    width: 100%;
    background-color: $cream;
    color: $dark-gray;
    font-family: $body-font;
    font-size:1em;
    border: 3px solid $white;
    padding: 1em;
    @include box-sizing(border-box);
    .total-players {
      float:right;
      text-align:right;
    }
  }
  .score {
    padding: 1em 15px;
    color: white;
    border: 3px solid white;
    display: inline-block;
    &.blue {
      border-right: none;
      .number {
        float:right;
        font-size: 2em;
      }
      .color {
        float: left;
        font-size: 1em;
      }
    }
    &.red {
      border-left: 3px solid $cream;
      .color {
        float:right;
        font-size: 1em;
      }
      .number {
        float:left;
        font-size: 2em;
      }
    }
  }
}

.leaderboard {
  width: 200px;
  z-index: 9999;
  position: absolute;
  top: 84px;
  background-color: $cream;
  &.blue {
    left:24px;
    color: $blue;
    border: 3px solid $blue;
    border-top: 12px solid $blue;
  }
  &.red {
    right:24px;
    color: $red;
    border: 3px solid $red;
    border-top: 12px solid $red;
  }
  .players {
    padding: 0 1em;
  }
  .player {
    list-style-type: none;
    padding: 1em 0;
    text-indent: 48px;
    background: transparent url('/img/logo.png') left center no-repeat;
    background-size: 26px;
  }
}
