/* line 3, ../scss/main.scss */
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

/* line 9, ../scss/main.scss */
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: red;
  color: white;
  border-radius: 6px;
  padding: 60px;
}
/* line 20, ../scss/main.scss */
.hero-unit h1 {
  font-size: 3em;
  line-height: 0.5em;
  letter-spacing: -1px;
}
