<div class="nav-wrap">
  <header class="top-nav">
    <h1><span class="blue">Map</span> <span class="red">Attack</span></h1>
    <nav>
      <% if (typeof user === 'undefined') { %>
        <a href="/auth/twitter" class="btn blue">Log In</a>
      <% } else if (user) { %>
        <img src="<%= user.photos[0].value %>" alt="<%= user.username %>" width="42">
        <a href="/logout" class="btn red">logout</a>
        </p>
      <% } %>
    </nav>
  </header>
</div>
