<div style="width: 200px; margin: 140px auto;">
  <table width="200"><tr>
    <td><a href="http://pin13.net/mapattack/MapAttack-Android.apk"><img src="../iphone/AppIcon60x60.png" height="60" width="60" /></a></td>
    <td>Install MapAttack for Android</td>
  </tr></table>
</div>