<div class="panel blue">
  <section>
    <header>
      <h2>My Boards</h2>
      <a href="/boards/new" class="btn cream">New Board</a>
    </header>
    <ul class="boards">
      <% boards.forEach(function(board){ %>
        <li>
          <a href="/boards/<%= findIdInTags(board.tags, 'board') %>/edit">
            <% if (board.properties && board.properties.title) { %>
              <%= board.properties.title %>
            <% } else { %>
              Untitled Board
            <% } %>
          </a>
        </li>
      <% }) %>
    </ul>
  </section>
</div>

<div class="panel cream">
  <section>
    <header>
      <h2 class="red">Boards Around You</h2>
      <input class="col col1of3" placeholder="Portland"></input>
    </header>
    <ul class="boards red">
      <% boards.forEach(function(board){ %>
        <li>
          <a href="/boards/<%= findIdInTags(board.tags) %>">
            <% if (board.properties && board.properties.title) { %>
              <%= board.properties.title %>
            <% } else { %>
              Untitled Board
            <% } %>
          </a>
        </li>
      <% }) %>
    </ul>
  </section>
</div>

<div class="panel white">
  <section>
    <header>
      <h2 class="blue">Games In Progress</h2>
    </header>
    <div class="games">
      <div class="game col-group no-padding label">
        <div class="col col1of2">
          <span class="plain">Title</span>
        </div>
        <div class="col col1of4">
          <span class="plain">Start Time</span>
        </div>
        <div class="col col1of4">
          <span class="plain">Players</span>
        </div>
      </div>
      <div class="game col-group no-padding">
        <div class="col col1of2">
          <a class="title" href="/games/:id">Board Title</a>
        </div>
        <div class="col col1of4">
          <span class="hours">4:30pm</span>
        </div>
        <div class="col col1of4">
          <span class="hours">12</span>
        </div>
      </div>
    </div>
  </section>
</div>
