<div class="panel cream">
  <section>
    <header>
      <h2>My Boards</h2>
      <a class="btn blue">New Board</a>
    </header>
    <ul class="boards">
      <li><a href="/board-id/edit">Board Title</a></li>
      <li><a href="/board-id/edit">Board Title</a></li>
      <li><a href="/board-id/edit">Board Title</a></li>
      <li><a href="/board-id/edit">Board Title</a></li>
    </ul>
  </section>
</div>

<div class="panel cream">
  <section>
    <header>
      <h2>Boards Around You</h2>
    </header>
    <ul class="boards">
      <li><a href="/board-id/view">Board Title</a></li>
      <li><a href="/board-id/view">Board Title</a></li>
      <li><a href="/board-id/view">Board Title</a></li>
      <li><a href="/board-id/view">Board Title</a></li>
    </ul>
  </section>
</div>

<div class="panel cream">
  <section>
    <header>
      <h2>Games In Progress</h2>
    </header>
    <div class="games">
      <div class="game">
        <a href="/game/view">Board Title</a>
        <div class="hours">Started at 4:30pm</div>
        <div class="players">12 players</div>
      </div>
      <div class="game">
        <a href="/game/view">Board Title</a>
        <div class="hours">Started at 4:30pm</div>
        <div class="players">12 players</div>
      </div>
    </div>
  </section>
</div>