<div class="panel red">
  <section>
    <header>
      <h2>1. Make a Board</h2>
      <a class="btn cream">Go Board</a>
    </header>
    <div class="board-gallery col-group">
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
    </div>
    <a class="btn cream" href="/upload-board">Upload Your Board</a>
  </section>
</div>