<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Map Attack | Home</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/lib/leaflet.css">
  <link rel="stylesheet" href="/lib/leaflet.draw.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="/lib/leaflet.ie.css">
    <link rel="stylesheet" href="/lib/leaflet.draw.ie.css">
  <![endif]-->
  <link rel="stylesheet" href="/css/main.css">
  <%- partial('partials/_html5shiv') %>
</head>
<body>
  <%- partial('partials/_ie') %>
  <%- partial('partials/_nav') %>

  <div id="map-attack" data-board-id="pG7yZV7KMtG4oj3Y" class="hero"></div>

  <div class="panel cream">
    <section>
      <blockquote class="blue">An urban geofencing game</blockquote>
      <div class="feature">
        <div class="graphic">
          <div class="video-wrap">
            <iframe src="//www.youtube.com/embed/1KRBoHt_VSY" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="copy">
          <h3>Map Attack in a Nutshell</h3>
          <p>Two teams compete to capture the most points on the gameboard. The gameboard, in this case, is the city streets of the neighborhood the players are in. To play, all you need is a phone (Android running 2.3.3 or later and iPhone 4 or later, running iOS 7), a city street, park or college campus, and some friends.</p>
        </div>
      </div>
    <section>
  </div>

  <div class="panel blue cats">
    <section class="constrained">
      <header>
        <h2>How to Play</h2>
      </header>
      <p>MapAttack is a game of territory capture for groups up to 20 people!</p>
      <p>You can play MapAttack if there is a gameboard in your area, or you can make your own from the web at <a href="http://mapattack.org" class="white">mapattack.org</a>!</p>
      <p>To join the game from your phone, tap on Nearby Games to see if there is a game near you. Once you see a nearby game, click on the game to join it, and you'll be assigned a team. Group up with your team and wait until all players have connected to start the game.</p>
      <p>Once all players have been assigned a team, try to pick up as many points on the map as you can. You'll be able to see the other players on the other team by their icons on the map, and you'll be able to see both team's scores update in real time.</p>
      <p>When all the points on the map are gone, you'll get a message with your score!</p>
    </section>
  </div>

  <div class="panel red">
    <section>
      <header>
        <h2>1. Make a Board</h2>
        <a class="btn cream">Go Build One Soon</a>
      </header>
      <div class="board-gallery col-group responsive">
        <div class="col col1of3">
          <figure>
            <img src="/img/ladds-addition.png" alt="Ladd's Subtraction">
            <figcaption><a>Ladd's Subtraction</a> in East Portland</figcaption>
          </figure>
        </div>
        <div class="col col1of3">
          <figure>
            <img src="/img/tokyo.png" alt="Ito Ruins">
            <figcaption><a>Ruin Quest</a> in Tokyo</figcaption>
          </figure>
        </div>
        <div class="col col1of3">
          <figure>
            <img src="/img/bridge-game.png" alt="Bridge Attack">
            <figcaption><a>Bridge Attack</a> in Downtown Portland</figcaption>
          </figure>
        </div>
      </div>
    </section>
  </div>

  <div class="panel cream">
    <section>
      <h2>2. Get the App</h2>
      <div class="feature">
        <div class="graphic">
          <img src="/img/apps.png">
        </div>
        <div class="copy">
          <h3>Available Everywhere Soon</h3>
          <p>
            We'll be releasing both iOS and Android versions shortly! Right now we are beta testing in small groups in Portland, Oregon. If you'd like to participate, tell us at <a href="http://twitter.com/EsriPDX">@EsriPDX</a>!
          </p>
        </div>
      </div>
    <section>
  </div>

  <div class="panel blue high-five">
    <section>
      <h2>3. Hit The Streets!</h2>
      <p class="large">
        Meet with a group of friends at the real-world location of your board, start the game, and run for glory!
      </p>
    <section>
  </div>

  <div class="panel dark">
    <section class="col-group responsive">
      <div class="col col1of3">
        <h2>Credits</h2>
        <p>MapAttack was built for iPhone and Android by the team at the <a href="http://pdx.esri.com">Esri R&amp;D Center</a> in Portland, OR.</p>
        <ul class="col-group">
          <li class="col col1of2"><a href="http://twitter.com/caseorganic">Amber Case</a></li>
          <li class="col col1of2"><a href="http://twitter.com/aaronpk">Aaron Parecki</a></li>
          <li class="col col1of2"><a href="http://twitter.com/NikolasWise">Nikolas Wise</a></li>
          <li class="col col1of2"><a href="http://twitter.com/paulcpederson">Paul Pederson</a></li>
          <li class="col col1of2"><a href="http://twitter.com/n8ji">Nate Goldman</a></li>
          <li class="col col1of2"><a href="http://twitter.com/patrickarlt">Patrick Arlt</a></li>
          <li class="col col1of2"><a href="http://twitter.com/hsoj">Josh Yaganeh</a></li>
          <li class="col col1of2"><a href="http://twitter.com/FowlerCourt">Court Fowler</a></li>
          <li class="col col1of2"><a href="http://twitter.com/thatryana">Ryan Arana</a></li>
          <li class="col col1of2"><a href="http://twitter.com/poeks">Jen Oslislo</a></li>
          <li class="col col1of2"><a href="http://twitter.com/kenichi_pdx">Kenichi Nakamura</a></li>
          <li class="col col1of2"><a href="http://twitter.com/davystevenson">Davy Stevenson</a></li>
          <li class="col col1of2"><a href="http://twitter.com/JerrySievert">Jerry Sievert</a></li>
        </ul>
      </div>
      <div class="col col1of3">
        <h2>Technology</h2>
        <p>MapAttack is a real-time location-based geofencing game built on Esri's Geotrigger Service, a low power Geofencing solution for mobile and web apps. The Geotrigger Service is currently in private beta. If you'd like to try it out, contact us at <a href="http://twitter.com/EsriPDX">@EsriPDX</a>.</p>

        <p>For more information about Esri technology for developers, see <a href="http://developers.arcgis.com">developers.arcgis.com</a>. We'll be releasing libraries and source code related to the game at <a href="http://pdx.esri.com">Esri R&amp;D Center Portland Blog</a>.</p>
      </div>
      <div class="col col1of3">
        <h2>History</h2>

        <p>MapAttack is a tribute to the 2004 location-based mapping game <a href="http://www.pacmanhattan.com/">PacManhattan</a>, and is a remake of the original <a href="https://geoloqi.com/blog/2011/04/geoloqi-launches-mapattack-a-real-time-location-based-mobile-gaming-platform-of-awesomeness/">MapAttack 2011</a> built on Geoloqi software (Geoloqi joined Esri in 2012!)</p>
      </div>
    </section>
  </div>

  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/leaflet.js"></script>
  <script src="/lib/leaflet.draw.js"></script>
  <%- partial('partials/_ga') %>
  <script src="/js/index.js"></script>
</body>
</html>
