<div class="hero"></div>

<div class="panel cream">
  <section>
    <blockquote>A social game of human pacman.</blockquote>
    <div class="feature">
      <div class="graphic">
        <video src="http://www.youtube.com/demo/google_main.mp4" controls autobuffer></video>
      </div>
      <div class="copy">
        <h3>Map Attack in a Nutshell</h3>
        <p>Two teams compete to capture the most points on the gameboard. The gameboard, in this case, is the city streets of the neighborhood the players are in. To play, all you need is a phone (Android running 2.2 or later and iPhone 3GS or later) a city street, park or college campus, and some friends.</p>
      </div>
    </div>
  <section>
</div>

<div class="panel red">
  <section>
    <header>
      <h2>1. Make a Board</h2>
      <a class="btn cream">Go Build One</a>
    </header>
    <div class="board-gallery col-group">
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
      <div class="col col1of3">
        <figure>
          <img src="/img/board.jpg" alt="Name of Board for Map Attack">
          <figcaption><a href="/boardid/view">Board Name</a> by User</figcaption>
        </figure>
      </div>
    </div>
    <a class="btn cream" href="/upload-board">Upload Your Board</a>
  </section>
</div>

<div class="panel cream">
  <section>
    <h2>2. Get the App</h2>
    <div class="feature">
      <div class="graphic">
        <img src="/img/apps.png">
      </div>
      <div class="copy">
        <h3>Available Everywhere</h3>
        <p>
          The Map Attack app is available in both the Apple App Store and on Google Play.
        </p>
        <p>
          <a href="android-store" class="btn red margin">Get the Android Version</a>
          <a href="mac-store" class="btn blue">Get the iOS Version</a>
        </p>
      </div>
    </div>
  <section>
</div>

<div class="panel blue high-five">
  <section>
    <h2>3. Have Way Too Much Fun</h2>
    <p class="large">
      Meet with a group of friends at the real-world location of your board, hit go, and experience the madness!
    </p>
  <section>
</div>
