<div style="width: 200px; margin: 140px auto;">
  <table width="200"><tr>
    <td><a href="itms-services://?action=download-manifest&url=http://web.mapattack.org/iphone/mapattack.plist"><img src="AppIcon60x60.png" height="60" width="60" /></a></td>
    <td>Install MapAttack</td>
  </tr></table>
</p>