@import url(http://fonts.googleapis.com/css?family=Karla);
/* - - - - - - - - - - Basic Reset - - - - - - - - - - */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_reset\.scss}line{font-family:\000032}}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_reset\.scss}line{font-family:\000039}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_reset\.scss}line{font-family:\0000312}}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_reset\.scss}line{font-family:\0000313}}
audio[controls], canvas, video {
  display: inline-block;
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_reset\.scss}line{font-family:\0000314}}
a:hover, a:active {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_reset\.scss}line{font-family:\0000315}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_reset\.scss}line{font-family:\0000320}}
a, abbr, acronym, address, b, big, cite, code, del, em, i, ins, kbd, mark, output, q,
samp, small, strike, strong, sub, sup, time, tt, var,
dfn, dl, dt, dd, ol, ul, li,
blockquote, h1, .top-nav .brand, h2, h3, h4, h5, h6, p, pre,
applet, canvas, embed, figure, figcaption, iframe, img, object {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000324}}
.gt-hide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000330}}
.clearfix:before, .panel header:before, .feature:before, .clearfix:after, .panel header:after, .feature:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000334}}
.clearfix:after, .panel header:after, .feature:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000345}}
.col {
  display: block;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000354}}
.col1of1 {
  float: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000355}}
.col1of2 {
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000356}}
.col1of3 {
  width: 33.33333%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000357}}
.col2of3 {
  width: 66.66666%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000358}}
.col1of4 {
  width: 25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000359}}
.col3of4 {
  width: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000360}}
.col1of5 {
  width: 20%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000361}}
.col2of5 {
  width: 40%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000362}}
.col3of5 {
  width: 60%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000363}}
.col4of5 {
  width: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000365}}
.col-group {
  font-family: 'Courier New', Monospace;
  letter-spacing: -.65em;
  margin-left: -15px;
  margin-right: -15px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000371}}
.col-group .col {
  display: inline-block;
  float: none;
  font-family: "Karla", Arial, Helvetica, sans;
  letter-spacing: normal;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000382}}
.col-group.no-padding {
  margin-left: 0;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000385}}
.col-group.no-padding .col {
  padding-left: 0;
  padding-right: 0;
}

/* - - - - - - - - - Basic Typography - - - - - - - */
@font-face {
  font-family: 'Mensch';
  src: url("../fonts/mensch-wf.eot");
  src: url("../fonts/mensch-wf.eot?#iefix") format("embedded-opentype"), url("../fonts/mensch-wf.woff") format("woff"), url("../fonts/mensch-wf.ttf") format("truetype"), url("../fonts/mensch-wf.svg#MenschMenschRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mensch Bold';
  src: url("../fonts/mensch-bold-wf.eot");
  src: url("../fonts/mensch-bold-wf.eot?#iefix") format("embedded-opentype"), url("../fonts/mensch-bold-wf.woff") format("woff"), url("../fonts/mensch-bold-wf.ttf") format("truetype"), url("../fonts/mensch-bold-wf.svg#MenschMenschBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000326}}
body {
  font-family: "Karla", Arial, Helvetica, sans;
  color: #242323;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000334}}
h1, .top-nav .brand, h2, h3, h4, h5, h6 {
  font-family: "Mensch", Arial, Helvetica, sans;
  line-height: 1em;
  font-weight: 400;
  font-size: 3em;
  margin: 1em 0 0.5em 0;
  text-transform: none;
  word-spacing: -0.125em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000342}}
h1.red, .top-nav .red.brand, h2.red, h3.red, h4.red, h5.red, h6.red {
  color: #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000345}}
h1.blue, .top-nav .blue.brand, h2.blue, h3.blue, h4.blue, h5.blue, h6.blue {
  color: #5498e8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000350}}
h1, .top-nav .brand {
  font-size: 3em;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000351}}
h2 {
  font-size: 2.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000352}}
h3 {
  font-size: 1.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000353}}
h4 {
  font-size: 1.65em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000354}}
h5 {
  font-size: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000355}}
h6 {
  font-size: 1.35em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000357}}
blockquote {
  font-family: "Mensch", Arial, Helvetica, sans;
  text-align: center;
  font-size: 2em;
  line-height: 3em;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000363}}
blockquote.blue {
  color: #5498e8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000368}}
p {
  line-height: 1.75em;
  margin: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000371}}
p.large {
  font-size: 1.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000377}}
span.blue {
  color: #3988e4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000380}}
span.red {
  color: #f54130;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000385}}
a {
  text-decoration: none;
  color: #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_typography\.scss}line{font-family:\0000388}}
a.blue-link {
  color: #5498e8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\000034}}
button,
input,
select,
textarea {
  margin: 0;
  vertical-align: baseline;
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000310}}
input[type="search"] {
  -webkit-appearance: textfield;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000315}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000320}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000326}}
button[disabled],
input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000330}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000334}}
label {
  margin: 0;
  width: 100%;
  display: block;
  white-space: nowrap;
  margin: 0 0 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000330}}
label:before, label:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000334}}
label:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000341}}
label.no-margin {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000346}}
input, select, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  outline: none;
  outline-offset: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000354}}
input[type="checkbox"], input[type="radio"] {
  margin: 0.5em 0.5em 0 0;
  width: auto;
  float: left;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000363}}
input[type='search'],
input[type='text'],
textarea {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 1em;
  font-family: "Karla", Arial, Helvetica, sans;
  border: none;
  display: inline-block;
  margin: 0;
  outline: none;
  outline-offset: 0;
  padding: 0.5em;
  background-color: white;
  color: #30302f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000376}}
input[type='search']:focus,
input[type='text']:focus,
textarea:focus {
  color: #5498e8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000381}}
textarea {
  height: auto;
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000386}}
textarea.resize-h {
  resize: horizontal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\0000391}}
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  background-color: #f54130;
  border: none;
  -webkit-appearance: menulist-button;
  line-height: 32px;
  height: 32px;
  margin: 1em 0;
  display: inline;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\00003103}}
select:focus {
  background-color: #e71e0b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\00003108}}
input[type="submit"] {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\00003112}}
::-webkit-input-placeholder {
  color: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\00003113}}
:-ms-input-placeholder {
  color: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\00003114}}
::-moz-placeholder {
  color: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_forms\.scss}line{font-family:\00003115}}
:-moz-placeholder {
  color: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_buttons\.scss}line{font-family:\000031}}
.btn {
  display: inline-block;
  padding: 1em;
  background-color: #f54130;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  font-family: "Karla", Arial, Helvetica, sans;
  font-size: 0.85rem;
  cursor: pointer;
  -webkit-transition: background-color 50ms linear;
  -moz-transition: background-color 50ms linear;
  -o-transition: background-color 50ms linear;
  transition: background-color 50ms linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_buttons\.scss}line{font-family:\0000313}}
.btn:hover {
  background-color: #f42b18;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_buttons\.scss}line{font-family:\0000316}}
.btn.blue {
  background-color: #5498e8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_buttons\.scss}line{font-family:\0000318}}
.btn.blue:hover {
  background-color: #3e8ae5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_buttons\.scss}line{font-family:\0000322}}
.btn.cream {
  background-color: #fffbf2;
  color: #5498e8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_buttons\.scss}line{font-family:\0000325}}
.btn.cream:hover {
  background-color: #fff3d9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_buttons\.scss}line{font-family:\0000329}}
.btn.margin {
  margin-right: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\000031}}
.nav-wrap {
  background-color: white;
  padding-top: 72px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\000035}}
.nav-wrap.transparent {
  background-color: transparent;
  padding-top: 0;
  pointer-events: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000312}}
.top-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em 32px 0.5em;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000322}}
.top-nav .brand {
  color: #242323;
  display: inline-block;
  font-size: 1.5em;
  line-height: 2em;
  float: left;
  margin-right: 2.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000330}}
.top-nav .brand span:first-child {
  margin-right: -0.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000333}}
.top-nav .brand:before {
  content: "";
  display: inline-block;
  height: 40px;
  width: 40px;
  background: transparent url("../img/logo.png") center center no-repeat;
  background-size: contain;
  vertical-align: -11px;
  margin-right: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000344}}
.top-nav nav {
  display: inline-block;
  float: right;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000348}}
.top-nav nav img {
  -webkit-border-radius: 26px 26px;
  -moz-border-radius: 26px / 26px;
  border-radius: 26px / 26px;
  border: 4px solid #5498e8;
  display: inline;
  float: left;
  margin-top: -4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000355}}
.top-nav nav a {
  margin-left: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000330}}
.top-nav:before, .top-nav:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_mixins\.scss}line{font-family:\0000334}}
.top-nav:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000360}}
.top-nav.transparent {
  padding: 1em 1.5em 0.5em;
  background-color: transparent;
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000364}}
.top-nav.transparent .brand {
  color: white;
  pointer-events: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000368}}
.top-nav.transparent .white-link {
  color: white;
  border: 2px solid white;
  padding: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000372}}
.top-nav.transparent .white-link:hover {
  color: #5498e8;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000377}}
.top-nav.transparent nav {
  margin-top: 12px;
  pointer-events: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000380}}
.top-nav.transparent nav img {
  border-color: white;
  margin-top: -14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000388}}
.panel {
  padding: 3em 1em;
  background-color: white;
  color: #30302f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000392}}
.panel.cream {
  background-color: #fffbf2;
  color: #242323;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\0000396}}
.panel.red {
  background-color: #f54130;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003100}}
.panel.blue {
  background-color: #5498e8;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003104}}
.panel section {
  max-width: 1080px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003108}}
.panel header {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003111}}
.panel header h2 {
  margin-top: 0;
  display: inline-block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003116}}
.panel header .btn {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003119}}
.panel header input {
  float: right;
  margin-top: -14px;
  padding: 0.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #f54130;
  font-family: "Karla", Arial, Helvetica, sans;
  background-color: #fffbf2;
  border: 2px solid #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003133}}
.panel header input:first-child {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003136}}
.panel header input:hover {
  background-color: rgba(245, 65, 48, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003139}}
.panel header input:focus {
  background-color: #f54130;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003145}}
.panel video, .panel img {
  width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003151}}
.feature {
  width: 100%;
  margin: 3em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003155}}
.feature .graphic {
  width: 50%;
  margin-right: 5%;
  float: left;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003161}}
.feature .copy {
  width: 45%;
  float: right;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003165}}
.feature .copy h3 {
  margin-top: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003171}}
.on-red {
  background-color: #f54130;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003176}}
.on-blue {
  background-color: #5498e8;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003181}}
.right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/base\/_layout\.scss}line{font-family:\00003185}}
.left {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_home\.scss}line{font-family:\000031}}
.hero {
  height: 400px;
  width: 100%;
  display: block;
  background: #30302f url("/img/dark.jpg") center center no-repeat;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_home\.scss}line{font-family:\0000310}}
.board-gallery figure {
  padding: 1em;
  color: #30302f;
  background-color: #fffbf2;
  margin-bottom: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_home\.scss}line{font-family:\0000316}}
.board-gallery figure img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_home\.scss}line{font-family:\0000325}}
.high-five {
  background: url("/img/points.svg") center center no-repeat;
  background-size: cover;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\000031}}
.large-link, .boards li a, .games-link, .game .title, .game .hours, .game.label .plain {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  font-size: 1.5em;
  line-height: 1.5em;
  background-color: #5498e8;
  color: white;
  display: block;
  border: 2px solid white;
  margin-top: -2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000315}}
.boards li {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000319}}
.boards li a:after {
  content: ">";
  float: right;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000324}}
.boards li a:hover {
  color: #5498e8;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000327}}
.boards li a:hover:after {
  color: #5498e8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000331}}
.boards li a small {
  font-size: .7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000338}}
.boards.red li a {
  color: #f54130;
  background-color: #fffbf2;
  border: 2px solid #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000342}}
.boards.red li a:after {
  color: #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000345}}
.boards.red li a:hover {
  color: #fffbf2;
  background-color: #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000348}}
.boards.red li a:hover:after {
  color: #fffbf2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000357}}
.games-link, .game .title, .game .hours, .game.label .plain {
  font-size: 1em;
  border: 2px solid #5498e8;
  color: #5498e8;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000366}}
.game .title {
  color: #3988e4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000371}}
.game .title:after {
  content: ">";
  float: right;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000376}}
.game .title:hover {
  background-color: #5498e8;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000379}}
.game .title:hover:after {
  color: #5498e8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000384}}
.game .hours {
  border-left: none;
  color: #3988e4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000389}}
.game .red_num {
  background-color: #f54130;
  color: white;
  padding: 3px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\0000397}}
.game .blue_num {
  background-color: #5498e8;
  color: white;
  padding: 3px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_boards\.scss}line{font-family:\00003106}}
.game.label .plain {
  border-color: transparent;
  color: #3988e4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\000031}}
.wrapper {
  min-height: 320px;
  position: absolute;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\000038}}
.wrapper.transparent {
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000310}}
.wrapper.transparent .leaflet-left {
  left: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000313}}
.wrapper.transparent .leaflet-bottom {
  bottom: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000319}}
.leaflet-container {
  background-color: #222222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000324}}
#editor, #viewer {
  min-height: 320px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000333}}
.edit-tools {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  display: block;
  position: absolute;
  top: 32px;
  left: 0;
  padding: 1em;
  margin: 2em 2em 2em 1em;
  background-color: #fffbf2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000344}}
.edit-tools input[type='text'] {
  width: 100%;
  font-size: 1.25em;
  color: #5498e8;
  background-color: #fffbf2;
  border: 2px solid #5498e8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000350}}
.edit-tools input[type='text']:first-child {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000353}}
.edit-tools input[type='text']:hover {
  background-color: rgba(84, 152, 232, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000356}}
.edit-tools input[type='text']:focus {
  background-color: #5498e8;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000361}}
.edit-tools .city {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000364}}
.edit-tools .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  display: block;
  border: 2px solid #5498e8;
  background-color: #fffbf2;
  color: #5498e8;
  padding: 0.5em;
  font-size: 1.25em;
  line-height: 1.25em;
  font-family: "Karla", Arial, Helvetica, sans;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000376}}
.edit-tools .btn:hover {
  background-color: rgba(84, 152, 232, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000379}}
.edit-tools .btn.active {
  color: white;
  background-color: #5498e8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000384}}
.edit-tools .btn.red:hover {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000388}}
.edit-tools .btn[disabled] {
  border: 2px solid #777;
  color: #777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000394}}
.edit-tools .point {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\0000398}}
.edit-tools .point:after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  float: right;
  background: url("../img/pointBlue.png") left center no-repeat transparent;
  margin-top: -3px;
  background-size: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003108}}
.edit-tools .line:after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  float: right;
  background: url("../img/lineBlue.png") left center no-repeat transparent;
  margin-top: -3px;
  background-size: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003118}}
.edit-tools .active {
  color: white;
  background-color: #5498e8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003122}}
.edit-tools .done {
  margin-top: 1.5em;
  text-align: center;
  border: 2px solid #f54130;
  color: #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003127}}
.edit-tools .done:hover {
  background-color: #f54130;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003134}}
.coin {
  width: 20px;
  height: 17px;
  font-family: "Karla", Arial, Helvetica, sans;
  font-size: 13px;
  color: #30302f;
  text-align: center;
  vertical-align: center;
  background-color: #dddddd;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003144}}
.coin.p10:after {
  content: '10';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003147}}
.coin.p20 {
  position: absolute;
  left: -2px;
  top: -2px;
  border: 2px solid #ff9843;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003153}}
.coin.p20:after {
  content: '20';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003157}}
.coin.p30 {
  position: absolute;
  left: -3px;
  top: -3px;
  border: 3px solid #ff9843;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003163}}
.coin.p30:after {
  content: '30';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003167}}
.coin.p50 {
  position: absolute;
  left: -4px;
  top: -4px;
  border: 4px solid #ff9843;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003173}}
.coin.p50:after {
  content: '50';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003177}}
.coin.red {
  background-color: #f54130;
  color: white;
  border-color: #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003182}}
.coin.blue {
  background-color: #5498e8;
  color: white;
  border-color: #5498e8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003189}}
.step {
  width: 2px;
  height: 2px;
  border-radius: 5px;
  background-color: #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003194}}
.step.red {
  background-color: #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003197}}
.step.blue {
  background-color: #5498e8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003202}}
.plyr {
  width: 30px;
  height: 50px;
  font-family: "Karla", Arial, Helvetica, sans;
  font-size: 13px;
  color: white;
  text-align: center;
  vertical-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003210}}
.plyr.red {
  background-color: #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003213}}
.plyr.blue {
  background-color: #5498e8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003219}}
.coin-pop button {
  padding: 0 3px;
  margin: 0 3px 0px 3px;
  background-color: white;
  color: #30302f;
  border: 1px solid #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003225}}
.coin-pop button.active {
  background-color: #30302f;
  color: #fefefe;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003228}}
.coin-pop button.active:hover {
  background-color: #30302f;
  color: #fefefe;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003233}}
.coin-pop button:hover {
  background-color: #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003236}}
.coin-pop button:first-child {
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003239}}
.coin-pop button.delete-coin {
  margin-left: 9px;
  margin-right: 0px;
  color: #f54130;
  border: 1px solid #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003244}}
.coin-pop button.delete-coin:hover {
  background-color: #f54130;
  color: #fefefe;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003248}}
.coin-pop button.delete-coin:after {
  content: "delete";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003253}}
.coin-pop .ten:after {
  content: "10";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003256}}
.coin-pop .twenty:after {
  content: "20";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003259}}
.coin-pop .thirty:after {
  content: "30";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003262}}
.coin-pop .fourty:after {
  content: "40";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003265}}
.coin-pop .fifty:after {
  content: "50";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003270}}
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-family: "Karla", Arial, Helvetica, sans;
  color: #30302f;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003277}}
.leaflet-popup-content {
  margin: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003281}}
.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_editor\.scss}line{font-family:\00003285}}
.leaflet-popup-tip {
  width: 12px;
  height: 12px;
  padding: 1px;
  margin: -8px auto 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\000031}}
#viewer {
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\000036}}
.scoreboard {
  width: 300px;
  z-index: 9999;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000313}}
.scoreboard .title {
  width: 100%;
  background-color: #fffbf2;
  color: #30302f;
  font-family: "Karla", Arial, Helvetica, sans;
  font-size: 1em;
  border: 2px solid white;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000322}}
.scoreboard .title .total-players {
  float: right;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000327}}
.scoreboard .score {
  padding: 1em 15px;
  color: white;
  border: 2px solid white;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000332}}
.scoreboard .score.blue {
  border-right: 1px solid #fffbf2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000334}}
.scoreboard .score.blue .number {
  float: right;
  font-size: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000338}}
.scoreboard .score.blue .color {
  float: left;
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000343}}
.scoreboard .score.red {
  border-left: 1px solid #fffbf2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000345}}
.scoreboard .score.red .color {
  float: right;
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000349}}
.scoreboard .score.red .number {
  float: left;
  font-size: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000357}}
.leaderboard {
  width: 200px;
  z-index: 9999;
  position: absolute;
  top: 84px;
  background-color: #fffbf2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000363}}
.leaderboard.blue {
  left: 24px;
  color: #5498e8;
  border: 2px solid #5498e8;
  border-top: 12px solid #5498e8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000369}}
.leaderboard.red {
  right: 24px;
  color: #f54130;
  border: 2px solid #f54130;
  border-top: 12px solid #f54130;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000375}}
.leaderboard .players {
  padding: 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaronpk\/Code\/mapattack-web\/app\/scss\/_viewer\.scss}line{font-family:\0000378}}
.leaderboard .player {
  list-style-type: none;
  padding: 1em 0;
  text-indent: 48px;
  background: transparent url("/img/logo.png") left center no-repeat;
  background-size: 26px;
}
