.btn {
  display: inline-block;
  padding: 1em;
  margin-top: 1em;
  background-color: $red;
  color: $white;
  @include border-radius(3px);
  border: none;
  text-decoration: none;
  font-family: $body-font;
  font-size: 0.85rem;
  @include transition(background-color 200ms linear);
  &:hover {
    background-color: darken($red, 10%);
  }
  &.blue {
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 10%);
    }
  }
}