.nav-wrap {
  background-color: $white;
  padding-top: 72px;
  width: 100%;
  &.short {
    padding-top: 48px;
  }
}

.top-nav {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 1em 32px 0.5em;
  margin: 0 auto;
  position: fixed;
  background: white;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  .brand {
    @extend h1;
    color: $body-color;
    display: inline-block;
    font-size: 1.5em;
    line-height: 2em;
    float: left;
    margin-right: 2.5em;
    span:first-child {
      margin-right: -0.25em;
    }
    &:before {
      content: "";
      display: inline-block;
      height:  40px;
      width: 40px;
      background: transparent url('../img/logo.png') center center no-repeat;
      background-size: contain;
      vertical-align: -11px;
      margin-right:8px;
    }
  }
  nav {
    display: inline-block;
    float:right;
    width: auto;

    &.left {
      float: left;
    }
    &.right {
      float: right;
    }

    img {
      @include border-radius(26px, 26px);
      border: 4px solid $blue;
      display: inline;
      float: left;
      margin-top: -4px;
    }

    a {
      margin-left: 18px;
    }
  }
  @include clearfix;
  &.short {
    padding: 0 32px;
    .blue-link {
      line-height:3em;
    }
    .brand {
      font-size: 1.2em;
      line-height: 2.5em;
      &:before {
        height: 30px;
        width: 30px;
        vertical-align: -8px;
      }
    }
  }
}

.panel {
  padding: 3em 1em;
  background-color: $white;
  color: $dark-gray;
  &.cream {
    background-color: $cream;
    color: $darker-gray;
  }
  &.red {
    background-color: $red;
    color: $white;
  }
  &.blue {
    background-color:$blue;
    color: $white;
  }
  section {
    max-width: 1080px;
    margin: 0 auto;
  }
  header {
    @extend .clearfix;
    margin-bottom: 1em;
    h2 {
      margin-top: 0;
      display: inline-block;
      float: left;
    }
    .btn {
      float: right;
    }
    input {
      float: right;
      margin-top: -14px;
      padding: 0.5em;
      font-size: 1.5em;
      line-height: 1.5em;
      color: $red;
      font-family: $body-font;

      // width: 100%;
      // font-size: 1.25em;
      // color: $blue;
      background-color: $cream;
      border: 2px solid $red;
      &:first-child{
        border-bottom: none;
      }
      &:hover {
        background-color: rgba($red, 0.1);
      }
      &:focus {
        background-color: $red;
        color: $white;
      }
    }
  }
  video, img {
    width: 100%;
    height: auto;
  }
}

.feature {
  width: 100%;
  margin: 3em 0;
  @extend .clearfix;
  .graphic {
    width: 50%;
    margin-right: 5%;
    float: left;
    display: inline-block;
  }
  .copy {
    width: 45%;
    float:right;
    display: inline-block;
    h3 {
      margin-top: 2em;
    }
  }
}

.on-red {
  background-color: $red;
  color: $white;
}

.on-blue {
  background-color: $blue;
  color: $white;
}

.right {
  float: right;
}

.left {
  float: left;
}
