/* - - - - - - - - - Basic Typography - - - - - - - */
body {
  font-family: $body-font;
  color: $body-color;
  font-weight: $body-weight;
  font-size: $body-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  line-height: 1em;
  color: $header-color;
  font-weight: $header-weight;
  font-size: $header-size;
}

h1 { font-size: $header-size;      }
h2 { font-size: $header-size * 0.9;}
h3 { font-size: $header-size * 0.8;}
h4 { font-size: $header-size * 0.7;}
h5 { font-size: $header-size * 0.6;}
h6 { font-size: $header-size * 0.5;}